@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
}

/* Параметры для div "conteiner" */
.conteiner {
  width: 100%;
  padding: 0 15px;
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer .conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .conteiner {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer .conteiner {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

/* Переменные */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --border-color: #ECECEC;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #2F303A;
  --secondary-backgroud-color: #F5F4FA;
  --social-links-main-color: #AFB1B8;
  --social-link-background-color: rgba(255, 255, 255, 0.1);
  --hero-gradient-color:  rgba(47, 48, 58, 0.4);
  --portfolio-border-color: #EEEEEE;
  --black-color: #000000;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-link, .feature-icon, .our-clients-link, .social-links-list-footer, .social-link-footer, .footer-input, .button-close, .button-close .icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo WebStudio - Оформление логотипа */
.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo:hover, .logo:focus, .logo:active {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 0 0 0;
}

.logo-studio {
  color: var(--primary-text-color);
}

.logo-studio-footer {
  color: var(--white-text-color);
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Социальные сети */
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: currentColor;
  color: var(--social-links-main-color);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  fill: var(--white-text-color);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.header {
  border: 1px solid var(--border-color);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    margin-left: auto;
  }
  .button-close-mobile {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    margin-left: auto;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .burger-icon,
  .close-icon {
    width: 40px;
    height: 40px;
  }
  .burger-icon,
  .close-icon {
    fill: var(--primary-text-color);
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    max-width: 767px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    padding: 48px 40px;
    background: var(--white-text-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    z-index: 1;
    transition: transform 500ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu-nav {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .mobile-menu-nav-link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu-nav-link.current {
    color: var(--accent-color);
  }
  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts-list-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .mobile-contacts-list-link.current {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social-list {
    display: flex;
    margin-top: 64px;
  }
  .mobile-social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-social-list-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social-list-line {
    width: 22px;
    height: 0px;
    left: 135px;
    top: 726px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .burger-btn {
    display: none;
  }
  .nav-info,
  .nav-list,
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list {
    margin: 0 0 0 88px;
  }
  .nav-list-item {
    margin-left: 50px;
    display: block;
  }
  .nav-list-item:last-child {
    margin-left: 50px;
  }
  .nav-list-item.current::after, .nav-list-item:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    margin: 0 auto;
    background-color: var(--accent-color);
    opacity: 1;
  }
  .nav-list-item:hover::after, .nav-list-item:active::after {
    opacity: 1;
  }
  .nav-list-link {
    display: flex;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-link:hover, .nav-list-link:active, .nav-list-link:focus {
    color: var(--accent-color);
  }
  .nav-list-link.current {
    color: var(--accent-color);
  }
  /* Contacts - Контакты */
  .contacts-list {
    flex-direction: column;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    text-decoration: none;
  }
  .contacts-icon {
    display: block;
    margin-right: 10px;
  }
  .contacts-list-item {
    margin-bottom: 10px;
  }
  .contacts-list-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    fill: currentColor;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-link:hover, .contacts-list-link:active, .contacts-list-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Contacts - Контакты */
  .contacts-list {
    flex-direction: row;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    text-decoration: none;
  }
  .contacts-icon {
    margin-right: 10px;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts-list-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-decoration: none;
    fill: currentColor;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-link:hover, .contacts-list-link:active, .contacts-list-link:focus {
    color: var(--accent-color);
  }
}

/* Hero section - Секция Герой */
.hero-section {
  max-width: 1600px;
  height: 400px;
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/mob/mob_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-background-color);
}

.hero-title {
  font-size: 26px;
  font-weight: 900px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: url("../images/mob/mob_hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/tablet/tablet_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-background-color);
  }
  .hero-title {
    font-size: 26px;
    font-weight: 900px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: url("../images/tablet/tablet_hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/desktop/desktop_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-background-color);
  }
  .hero-title {
    font-size: 44px;
    font-weight: 600px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: url("../images/desktop/desktop_hero@2x.jpg");
  }
}

/* Our features - Наши преимущества */
.feature-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.feature-item {
  max-width: 100%;
}

.feature-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .feature-item .feature-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .feature-item .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-title {
  margin-bottom: 10px;
}

.feature-text {
  text-align: left;
}

.feature-icon {
  width: 100%;
  height: 120px;
  background-color: var(--secondary-backgroud-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* What we do - Чем мы занимаемся */
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do-title {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-img {
  position: relative;
  overflow: hidden;
}

.what-we-do-img:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-img-thumb {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 27px 0px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* Our team - Наша команда */
.our-team {
  background: var(--secondary-backgroud-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.our-team-title {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .our-team-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team-item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team-item {
    max-width: 480px;
  }
  .our-team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.our-team-item .image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .our-team-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-item {
    width: 270px;
    margin: 15px;
  }
}

.team-card {
  padding: 24px 24px;
}

/* Our team members - Члены нашей команды */
.person-title {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.person-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Our clients - Наши клиенты */
.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.our-clients-title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .our-clients-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.our-clients-list {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.our-clients-item {
  width: calc((100% - 4 * 15px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .our-clients-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.our-clients-link {
  width: 100%;
  height: 100%;
  color: var(--social-links-main-color);
  border: 1px solid var(--social-links-main-color);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover, .our-clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.our-clients-icon {
  fill: currentColor;
}

/* Address and Contacts - Адрес и контакты подвал, Соц. сети */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--main-background-color);
}

.footer .social-link-footer {
  background-color: var(--social-link-background-color);
}

.contacts-item {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .contacts-footer,
  .social-links-footer {
    margin-bottom: 60px;
  }
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-decoration: none;
}

.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  text-decoration: none;
}

.contacts:hover, .contacts:active, .contacts:focus {
  color: var(--accent-color);
}

.social-list-item-footer {
  width: 44px;
  height: 44px;
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: currentColor;
  color: var(--white-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  fill: var(--white-text-color);
}

/* Подпишитесь на рассылку */
.social-title-footer {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--main-background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.email-icon-footer {
  align-items: center;
  margin-left: 10px;
}

/* Добавление модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-text-color);
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close .icon-close {
  position: absolute;
  fill: var(--black-color);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  border-color: var(--accent-color);
}

.button-close:hover .icon-close {
  fill: var(--accent-color);
}

/* Оформление формы модального окна */
.modal-form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input-label:not(:first-child) {
  margin-top: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  content: "";
  margin-right: 8px;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  width: 16px;
  height: 15px;
  background-color: var(--accent-color);
  background-image: url("../images/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
  border-radius: 2px;
}

.modal-form-label-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-label-policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.modal-form-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-button-send {
  align-self: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button-send:hover, .modal-form-button-send:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/*# sourceMappingURL=main.css.map */