/* Address and Contacts - Адрес и контакты подвал, Соц. сети */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--main-background-color);

    & .social-link-footer{
        background-color: var(--social-link-background-color);
    }
}

.contacts-item {
    margin-bottom: 9px;
}

.contacts-footer,
.social-links-footer{

    @media screen and (max-width: 1199px){
        margin-bottom: 60px;
    }
}

.address{
    @include font(14px, 400, 24px, 0.03em);
    color: var(--white-text-color);
    text-decoration: none; 
}

.contacts{
    @include font(14px, 400, 24px, 0.03em);
    color: var(--contacts-color);
    text-decoration: none; 

    &:hover,
    &:active,
    &:focus {
        color: var(--accent-color);
    }
}

.social-list-item-footer{
    width: 44px;
    height: 44px;
}

.social-links-list-footer{
    @extend %align;
}

.social-list-item-footer:not(:last-child) {
    margin-right: 10px;
}

.social-link-footer{
    @extend %align;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: currentColor;
    color: var(--white-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
        color: var(--white-text-color);
        fill: var(--white-text-color);
}
}

/* Подпишитесь на рассылку */

.social-title-footer{
    margin-top: 0px;
    margin-bottom: 20px;
    @include font(14px, 700, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-form{
    text-align: center;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        }
}

.footer-input{
    @extend %align;
    width: 100%;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding: 15px 16px;  
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px; 
    color: var(--white-text-color);
    background-color: var(--main-background-color);
    @include font(16px, 400, 20px, 0.03em);

    &:focus{
        border: 1px solid var(--accent-color);
        outline: none;
        cursor: pointer;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.email-icon-footer{
    align-items: center;
    margin-left: 10px;
}
