/* Hero section - Секция Герой */

.hero-section{
    max-width: 480px;
    text-align: center;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        
    url("../images/mob/mob_hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-background-color);
}

.hero-title{
    font-style: normal;
    @include font(44px, 600px, 60px, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
}
@media screen and (min-devise-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
        .hero-section {
    background-image: url("../images/mob/mob_hero@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        background-image: url("../images/tablet/tablet_hero.jpg");
    }

    .hero-title {
        padding: 0 186px;
    }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px){
            .hero-section {
        background-image: url("../images/tablet/tablet_hero@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        max-width: 1200px;
        background-image: url("../images/desctop/desctop_hero.jpg");
    }

    .hero-title {
        padding: 0 186px;
    }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px){
            .hero-section {
        background-image: url("../images/desctop/desctop_hero@2x.jpg");
    }
}
