/* Hero section - Секция Герой */

.hero-section{
    max-width: 1600px;
    height: 400px;
    text-align: center;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        
    url("../images/mob/mob_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-background-color);
}

.hero-title{
    @include font(22px, 900px, 42px, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        @include font(26px, 900px, 42px, 0.06em);
    }
}
@media screen and (min-devise-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
        .hero-section {
    background-image: url("../images/mob/mob_hero@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: 
        linear-gradient(
            to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),

        url("../images/tablet/tablet_hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--main-background-color);
    }

    .hero-title {
        @include font(26px, 900px, 42px, 0.06em);
        text-align: center;
        text-transform: uppercase;
        color: var(--white-text-color);
        margin-bottom: 30px;
    }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px){
            .hero-section {
        background-image: url("../images/tablet/tablet_hero@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {

    .hero-section {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: 
        linear-gradient(
            to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
        url("../images/desktop/desktop_hero.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--main-background-color);
    }

    .hero-title {    
        @include font(44px, 600px, 60px, 0.06em);
        text-align: center;
        text-transform: uppercase;
        color: var(--white-text-color);
        margin-bottom: 30px;
    }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px){
            .hero-section {
        background-image: url("../images/desktop/desktop_hero@2x.jpg");
    }
}
