/* Добавление модального окна */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    @include transition();

}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;

    @media screen and (min-width: 1200px){
        max-width: 528px;
        height: 581px;
    };

    }


.button-close{
    position: absolute;
    @extend %align;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-text-color);
    cursor: pointer;
    @include transition();

}

.button-close .icon-close{
    position: absolute;
    @extend %align;
    fill: var(--black-color);
    @include transition();
}

.button-close:hover{
    border-color: var(--accent-color);
}

.button-close:hover .icon-close{
    fill: var(--accent-color);
}

/* Оформление формы модального окна */

.modal-form-title{
    margin-bottom: 12px;
    @include font(20px, 700, 23px, 0.03em);
    text-align: center;
    color: var(--primary-text-color);
    }

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-input-wrapper{
    display: block;
    position: relative;
}

.modal-form-input-label{   
    @include font(12px, 400, 14px, 0.01em);
    color: var(--secondary-text-color);
}

.modal-form-input-label:not(:first-child) {
    margin-top: 10px;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    @include transition();

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        cursor: pointer;
    }
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    @include transition($tp: background-color);
    .modal-form-input:focus + & {
        fill: var(--accent-color);
    }
}

.modal-form-message {
    margin-top: 4px;
    @include font(14px, 400, 16px, 0.01em);
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    @include transition($tp: border-color);
    padding: 15px;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        cursor: pointer;
    }


    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
}
}

.modal-form-label-policy{

    &::before {
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid var(--black-color);
        border-radius: 2px;
        content: "";
        margin-right: 8px;
    
    .modal-form-check-policy:checked + &{
        width: 16px;
        height: 15px;
        background-color: var(--accent-color);
        background-image: url('../images/svg/icon-check.svg');
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: contain;
        border-color: var(--accent-color);
        border-radius: 2px;
    }
    }

}

.modal-form-label-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @include font(12px, 400, 14px, 0.03em);
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px){
        @include font(14px, 400, 24px, 0.03em);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }
}

.modal-form-link{
    color: var(--accent-color);
    text-decoration: underline;
}

.modal-form-button-send{
    align-self: center;
    margin-top: 30px;
    @include font(16px, 700, 30px, 0.06em);
    background-color: var(--accent-color);
    color: var(--white-text-color);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    @include transition();

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}
}
