


.our-team-title {
    margin-bottom: 50px;
    font-style: normal;
    @include font(36px, 700, 42px, 0.03em);
    text-align: center;
    color: var(--primary-text-color);
}

.our-clients-title{
    margin-bottom: 50px;
    font-style: normal;
    @include font(36px, 700, 42px, 0.03em);
    text-align: center;
    color: var(--primary-text-color);
}


