/* Переменные */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --border-color: #ECECEC;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --main-background-color: #2F303A;
    --secondary-backgroud-color: #F5F4FA;
    --social-links-main-color: #AFB1B8;
    --social-link-background-color: rgba(255, 255, 255, 0.1);
    --hero-gradient-color:  rgba(47, 48, 58, 0.4);
    --portfolio-border-color: #EEEEEE;
    --black-color: #000000;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}  

